.wrapper{
    padding-top: 50px;
    margin: 0 auto;
    width: 90vw;
    height: 90vh;
    .register{
        text-align: end;
        font-size: small;
        text-decoration: underline;
        cursor: pointer;
        color: blue;
    }
    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
        .nav-container{
            padding: 20px;
            
            background-color: #bdbdbd ;
            color: white;
            display: flex;
            justify-content: space-between;

            .user-list-container{

            }
        }

        .chat-container{
            flex: 1;
            display: flex;
            overflow: hidden;

            conversation {
                flex: 3;
                background-color: #f9fbe7;
            }

            room-list{
                flex: 1;
                border-right: 1px solid #bdbdbd;
            }
        }
    }
}

.chat-action-button {
    margin-right: 20px;
}